#sellmodbox {
    margin:  100px 0 0 0;
    display: flex;
    text-align: center;
    min-width: 75vw;
    min-height: fit-content;
    width: 75vw;
    height: 400px;
    background-color: rgb(101, 140, 156);
    border-radius: 45px;
    border: 5px solid rgb(225, 231, 231);
}
#centerms {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}   
#filter {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 7%;
    cursor: pointer;
    background-color: rgb(189, 223, 238);
    margin: 30px 0 0 30px;
    border: 5px solid rgb(225, 231, 231);
    border-radius: 10px;
    h2 {
        color: rgb(131, 131, 131);
        font-size: 230%;
    }
}
#sell {
    flex-wrap: wrap;
}
#mods {
    display: flex;

}
#svg-sell-filter {
    height:80%;
    width: auto;
}
#filter-menu {
    display: flex;
    height:40%;
    width: 60%;
    border:6px solid rgb(225, 231, 231);
    border-radius: 10px;
    background-color: #8fb1be;
    #txt_price {
        font-size: 20px;
        position: relative;
        left: 10px;
        font-family: "Lemon", serif;
        color: rgb(220, 239, 245);
    }
    #txt_price_btw {
        font-size: 20px;
        position: relative;
        left: 10px;
        top: 60px;
        font-family: "Lemon", serif;
        color: rgb(220, 239, 245);
    }
}
#filter-menu-pos {
    transform-origin: top left ;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: none;
    position: relative;
    top: 40px;
    left: 10px;
    max-width: 700px;
    max-height: 450px;
    height: 450px;
    width: 700px;

}
#filter-menu-pos.active {
    transform: scale(1);
    opacity: 1;
    display: flex;
}
#filtertxtttl {
    p {
        font-size: 1vw;
    }
}
.styled-select {
    border: none;
    border-radius: 6px;
    appearance: none;
    width: 25%;
    text-align: center;
    height: 15%;
    position: relative;
    top: 20px ;
    left: 15px;
    background-color:rgb(225, 231, 231);
    color: #658C9C;
    font-size: 10px;
    font-family: "Lemon" , serif ;
}
.styled-select::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    width: 20px;
    height: 20px; 
    background-image: url('svg/btm_arrow');
    background-size: contain; 
    background-repeat: no-repeat; 
    pointer-events: none
}